@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
    
}

.noise {
    background-image: url(../app/assets/noise5.jpg);

}

.blur-background {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  